@{
    ViewData["Title"] = "Rock Trakcs";
}

@model  IEnumerable<MusicAPIExample.Track.Track>

<h1>Rock Tracks</h1>
<table class="table">
    <tr>
        <th>Track Title</th>
        <th>Composer</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComposerName)
        </td>
    </tr>
    }
</table>